.container{
    color: rgb(99, 17, 17);
    font-size: 2rem;
    margin: 3rem;
}

input{
    border: 2px solid rgb(40, 0, 77);
    border-radius: 0.3rem;
    height: 1.5rem;
}

.symbols{
    display: flex;
    justify-content: space-around;
    width: 50vh;
    margin: 1rem 5rem ;
}

#number3{
    display: none;
}

.opr{
    font-size: xx-large;
    display: flex;
    /* margin: 1.5rem; */
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    height: 3rem;
    width: 3rem;
    border: 2px solid rgb(99, 17, 17);
    cursor: pointer;
}