body{
    background-color: bisque;
    margin: 0%;
}

button{
    width: 75px;
    color:rgb(250, 250, 10);
    border-radius: 15px;
    background-color: blue;
    height: 40px;
    margin: 0px 5px auto 0px;
}

#navList{
    text-align: left;
    list-style-type: none;
    margin-left: -1%;
    margin-top: -1%;
    padding: 2% 2% 0 4%;
    margin-bottom: 0px;
}
#navList li{
    display: inline;
    box-sizing: border-box;
    width: 100%;
}

#navList img{
    display: inline;
    float: right;
    margin: 1% 2%;
    border-radius: 100%;
    width: 45px;
}

#hello{
    background-color: brown;
    background-image: url("https://source.unsplash.com/1920x720/?red,premium,tech");
    color: rgb(2, 121, 224);
    height: auto;
    font-family: 'Roboto Slab', serif;    font-weight: bold;
    font-style: italic;
    font-size: 45px;
    text-align: center;
    margin: -2%;
}

#firstPara{
    color: rgb(255, 0, 106);
    font-size: 25px;
    font-family: 'Roboto Slab', serif;    padding-left: 50px;
}

.para{
    margin: 40px;
    padding-right: 600px;
    color: rgb(30, 93, 211);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}
@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
    }
    .para{
        margin: 5px;
        padding-right: 40px;
        font-size: 20px;
    }
    #navList{
        margin-left: -10%;
        padding: 5% 2% 0 13%;
    }
    #navList img{
        margin: -1% 2%;
    }
    #navbar {
     font-size: 12px;
    }
    button{
        width: auto;
        margin: 0px;
    }
  }
