body{
    background-color: bisque;
    margin: 0px;
}

.hello{
    color: rgb(2, 121, 224);
    background: rgba(255, 130, 25);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 30px;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}

#firstPara{
    color: rgb(255, 0, 106);
    font-size: 25px;
    font-family: fantasy;
    padding-left: 50px;
}

.para{
    margin: 40px;
    padding-right: 600px;
    color: rgb(30, 93, 211);
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;

}
@media only screen and (max-width: 1000px) {
    body {
      background-color: lightblue;
    }
    .para{
        margin: 5px;
        padding-right: 40px;
        font-size: 20px;
    }
  }