.navigation {
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.logo {
  display: none;
}

#navbar a {
  /* border: 2px solid white; */
  color: blue;
}

#resNav hr {
  margin: 1rem 0rem;
}

#webname {
  text-align: center;
  margin: 0%;
}

/* .para img {
    margin: 0% -50%;
    width: 100%;
  } */
.para img {
  margin: 1rem auto;
  width: 65vw;
}
.navlist ul a {
  margin: 0%;
  padding: 0.5rem 0.7rem;
}

h1 {
  font-size: 2rem;
}

.para {
  width: auto;
}

p {
  font-size: 0.7rem;
}

#sidebar {
  width: 100vw;
}

#resNav {
  background-color: #bbbbff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: start;
}

p{
  font-size: 2vw;
}

#webname h1 {
  font-size: 8.5vw;
}

#footer{
  font-size: 0.85rem;
}

@media only screen and (max-width: 426px) {
  p{
    font-size: 3vw;
  }

  #webname h1 {
    font-size: 15vw;
  }
}

@media only screen and (max-width: 321px) {
  p{
    font-size: 4vw;
  }
  
#webname h1 {
  font-size: 19vw;
}
}