{% extends 'base.html' %} {% block links %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='code_pages.css') }}"
/>
{% endblock %} {% block title %}mrz | code | Kuldeep/Rohit OOP project{%
endblock %} {% block body %}
<header>
  <h1 class="mid">OBJECT ORIENTED PROGRAMMING USING C++</h1>
  <h1 class="mid">MICRO-PROJECT</h1>
</header>
<h2 class="divider mid">Topic : Salary Manegment System.</h2>
<div class="code">
  <pre>
#include &lt;iostream&gt;
#include &lt;fstream&gt;
using namespace std;

class emp
{
private:
    string name;
    unsigned short int id;
    unsigned long int salary;

public:
    void save();
    void seeAll();
    void search();
    void deleteAll();
} e;

void emp::save() {
    cout&lt;&lt;&#34;\nEnter the name of employee : &#34;;
    getchar();
    getline(cin, e.name);
    cout&lt;&lt;&#34;\nEnter the employee ID : &#34;;
    cin&gt;&gt;e.id;
    do
    {
    cout&lt;&lt;&#34;\nEnter the salary of employee : &#34;;
    cin&gt;&gt;e.salary;
    } while (e.salary&gt;4294967295);
    

    ofstream info(&#34;info.txt&#34;, fstream::app);

    info&lt;&lt;&#34;ID : &#34;&lt;&lt;e.id&lt;&lt;&#34; | Name : &#34;&lt;&lt;e.name&lt;&lt;&#34; | Salary : &#34;&lt;&lt;e.salary&lt;&lt;&#34;\n&#34;;

    info.close();
}
void emp::seeAll()
{
    string str;
    int i;

    cout&lt;&lt;&#34;\n&#34;;

    ifstream info(&#34;info.txt&#34;);

    while (!info.eof())
    {
        getline(info,str);

        cout&lt;&lt;str&lt;&lt;&#34;\n\n&#34;;
    }

    info.close();
}
void emp::search() {

    string str, s;

    cout&lt;&lt;&#34;\nEnter something to search : &#34;;
    cin&gt;&gt;s;

    ifstream info(&#34;info.txt&#34;);

    while (!info.eof())
    {
        getline(info,str);

        bool match;
        for (int i = 0; i &lt; str.size(); i++)
        {
            match = false;

            if(str[i]==s[0]){
                for (int j = 0; j &lt; s.size(); j++)
                {
                    if(str[i+j]==s[j]){
                        match = true;
                    }
                    else
                    {
                        match=false;
                        break;
                    }
                }
            }
            if(match==true){
                cout&lt;&lt;str&lt;&lt;&#34;\n&#34;;
                break;
            }
        }
    }

    info.close();
}

void emp::deleteAll() {
    fstream info;
    info.open(&#34;info.txt&#34;, ios::out);
    info.close();
}

int main()
{
    fstream info(&#34;info.txt&#34;, ios::app);
    info.close();

    char choice;
    emp e;

    while (1)
    {
        cout &lt;&lt; &#34;\nR&S Pvt. Ltd.\nSelect :\n\t1)Save new record\n\t2)See all records\n\t3)Search\n\t4)Delete all records\n\t0)Exit\n&#34;;
        cin &gt;&gt; choice;

        switch (choice)
        {
        case '1':
            e.save();
            break;

        case '2':
            e.seeAll();
            break;

        case '3':
            e.search();
            break;

        case '4':
            e.deleteAll();
            break;

        case '0':
            exit(0);
            break;

        default:
            e.seeAll();
            break;
        }
    }

    return 0;
}            
    </pre>
</div>
{% endblock %}
